blockquote{
    font-size: 14px;
}
ul{
    margin-top: 20px;
}
img {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-left: 15px;
    display: block;
    position: relative;
    top: -35px;
}
strong{
    font-weight: bold;
}
pre{
    background-color: #333;
}
pre code{
    background-color: #333;
}